{
	# Global settings
	admin off
	log {
		format json
	}
}

#pihole.memedition.com {
#	reverse_proxy 172.20.0.3:80
#	tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem
#}

# Pi-hole configuration
pihole.memedition.com {
    reverse_proxy 172.20.0.3:80 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem
}

# Import site configurations
# import /etc/caddy/sites/*.caddy
